.logout-section{
    cursor: pointer;
    display: flex;
    gap: 1rem;
    font-size: 1.3rem;
    background-color: #040303;
    transition: background-color 0.3s ease;
    padding: 0.5rem 1rem;
    border-radius: 100px;
    h4{
      font-size: 1rem;
    }
}

.logout-section:hover{
    background-color: #107790;
}