@font-face {
  font-family: myFont;
  src: url(../assets/-pkMfchyeAZ.woff2); 
}
*{
    padding: 0;
    margin: 0;
    font-family: myFont;
    box-sizing: border-box;
}
html,body,#root{
    width: 100%;
    min-height: 100vh;
    background-color: #0C1014;
    color: #BBBCBD;
}

