.post-card{
    border: 1px solid black;
    padding: 1rem;
    background-color:#0C1014;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    .top-part{
      width: 100%;
      border-bottom: 1px solid white;
      padding-bottom: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;


      .user-detail{
        display: flex;
        align-items: center;
        gap: 1rem;
          img{
        width: 30px;
        border-radius: 50%;
      }
      }
      .follow-btn{
         background-color: #2678af3b;
         border: none;
         color: white;
         padding:0.3rem 1rem;
         border-radius: 100px;
         cursor: pointer;
         transition: 0.2s ease all;
      }
       .follow-btn:hover{
        background-color: #2678af81;
       }

    }
    .post{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: 60%;      
    
         align-items: flex-start;  

        img{
        width: 100%;
       
        border-radius: 1rem;
    }
    span{
    text-align: left;  
    }
  
  } 
   .like-section{
   
    font-size: 2rem;
    cursor: pointer;
    align-self: flex-start;

   }
}