header{
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem 3rem;
    background-color: #1F1F22;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.668) 0px 7px 29px 0px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.285);
    .user-info{
        display: flex;
        gap: 1rem;
        align-items: center;
        img{
            width: 40px;
            border-radius: 50%;
        }
    }
}