.home {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   

    .content-section {
        width: 100%;
        display: flex;
        gap: 2rem;
    
        padding-inline: 1rem;

        .child {
            flex: 1;
              background-color: #1f1f2255;
            padding: 1rem 2rem;
            min-height: 100vh;
            overflow-y: auto;
            scroll-behavior: smooth;
        }

    }
}